In [ ]:
numero =55

In [ ]:
print (numero)

55

In [ ]:
numero = print(round(float(input("ingrese el número: ")),2))

ingrese el número: 25
25.0

In [ ]:
numero = input("ingrese numero: ")

ingrese numero: 55

In [ ]:
numero

'55'

In [ ]:
numero = float(input("ingrese numero: "))

ingrese numero: 26

In [ ]:
numero

26.0

In [ ]:
numero = round(float(input("ingrese numero: ")),2)

ingrese numero: 95.5454

In [ ]:
numero

95.55

In [ ]:
numero = print(round(float(input("ingrese numero: ")),2))

ingrese numero: 86.5454353345
86.55

# Sección nueva

TIPOS DE VARIABLES

In [ ]:
nombre = "Cristian" #texto /str
primer_apellido = "Pinilla" #texto /str
edad: 34 #numero entero /int
estatura: 1.80   #decimal /float
nombre_completo = nombre + " " + primer_apellido #texto /str
dirección = "Carrera 73" #texto /str
estado_civil= ["soltero", "casado", "unión libre", "otro"] #lista / list
coordenadas_direccion = (22.56, 43.98) #Tupla / tuple

In [ ]:
Persona = {
    "nombre": "Cristian",
    "edad": 34,
    "estatura": "1.80",
    "estado_civil": "soltero"
}

In [ ]:
print(Persona["edad"])

34

In [ ]:
print(type(nombre))
print(type(edad))
print(type(estatura))
print(type(estado_civil))
print(type(coordenadas_direccion))
print(type(Persona))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

### Tienda

In [ ]:
Tienda = "Pelipup" #texto /str
dirección = "Carrera 73" #texto /str
Productos= ["Chat Gpt", "Hbo", "Netflix"] #lista / list
coordenadas_direccion = (22.56, 43.98) #Tupla / tuple

Producto1 = { #En caso de querer hacer solo un producto
    "nombre": "Chat Gpt",
    "precio": 35.000,
    "cantidad": "10",
}

Pelipup = { #En caso de querer crear una tienda con varios productos
    "Producto1" : {
    "nombre": "Chat Gpt",
    "precio": 35000,
    "cantidad": "10",
    },
    "Producto2" : {
    "nombre": "Hbo",
    "precio": 8000,
    "cantidad": "6",
    },
    "Producto3" : {
    "nombre": "Netflix",
    "precio": 15000,
    "cantidad": "5",
    },
}

In [ ]:

print(Pelipup["Producto3"])

{'nombre': 'Netflix', 'precio': 15000, 'cantidad': '5'}

In [ ]:
estado_civil[2] = "Union marital"
print(estado_civil)

['soltero', 'casado', 'Union marital', 'otro']

In [ ]:
print(nombre_completo)

Cristian Pinilla

Manejo de números

In [ ]:
edad = 34
estatura = 1.80

### Tipo númerico

In [ ]:
numero_a = 5
numero_b = 2
division = numero_a / numero_b
print(division)

2.5

Operacion Texto

In [ ]:
nombre = "Cristian"
apellido = "Pinilla"
nombre_completo = nombre + " " + apellido
print(nombre_completo)

Cristian Pinilla

In [ ]:
nombre = "Cristian"
apellido = "Pinilla"
nombre_completo = nombre + " " + apellido
print(nombre_completo)

## Operaciones en las listas

In [ ]:
frutas = ["manzana", "banana", "cereza"]
print(frutas)

['manzana', 'banana', 'cereza']

In [ ]:
frutas.append("naranja")
print(frutas)

['manzana', 'banana', 'cereza', 'naranja']

In [ ]:
frutas.insert(2, "Limón")

In [ ]:
print(frutas)

['manzana', 'banana', 'Limón', 'Limón', 'Limón', 'cereza', 'naranja']

In [ ]:
frutas.remove("Limón")

In [ ]:
print(frutas)

['manzana', 'banana', 'Limón', 'Limón', 'cereza', 'naranja']

In [ ]:
frutas[2:4]

['Limón', 'Limón']

In [ ]:
numeros = [8,5,1]

suma = numeros[0] + numeros[1] + numeros[2]
print(suma)

14

In [ ]:
numeros = [8,5,1]

suma = sum(numeros)
print(suma)

14

## Tipo Diccionarios

In [ ]:
Persona = {
    "nombre": "Cristian",
    "edad": 34,
    "estatura": "1.80",
    "estado_civil": "soltero"
}

In [ ]:
print(Persona["nombre"])

Cristian

In [ ]:
print(Persona.get("nombre"))

Cristian

In [ ]:
alumnos " {
  "alumno1":{"nombre"}

# Calculadora Final

In [ ]:
#Importando la Libreria/biblioteca de matemáticas de Python
import math

#DEFINICION DE LAS FUNCIONES:
def mostrar_título():
  '''
  input:no hay entradas
  process: mostrar titulo (está implicito en el nombre de la función, se sugiere que sea un verbo)
  output: no hay salidas
  '''

  print('Ejemplo Calculadora Sencilla (+,-,*,/) por Felipe Escallón:')

def mostrar_menu():
  '''input: no recibe nada (0 entradas)
  process:mostrar menu
  output: no retorna nada (0 salidas)'''
  print()
  print("MENU:")
  print("1: Sumar (+)")
  print("2: Restar (-)")
  print("3: Multiplicar (*)")
  print("4: Dividir (/)")
  print("5: Logaritmo (log10)")
  print("6: Coseno (cos)")
  print("7: Tangente (tan)")
  print("8: Seno (sen)")
  print("9: potenciacion (x^y)")
  print("10: raiz cuadrada")
  print()

def ingresar_datos():
  '''input: no hay entradas
  process:ingresar datos (recibir/leer del usuario)
  output: tres variables que contienen localmente las decisiones del usuario (opción, numero_uno, numero_dos)'''
  opcion= input("Ingrese la opción deseada del menú:")
  numero_uno= float(input("Ingrese el primer número de la operación:")) #Guarda como flotante (número real)
  numero_dos= float(input("Ingrese el segundo número de la operación:")) #Guarda como flotante (número real)
  return opcion, numero_uno, numero_dos

#POR FACILIDAD, LAS 7 FUNCIONES SIGUIENTES TIENEN ENTRADAS Y SALIDAS
def calcular_suma(numero_uno, numero_dos):
  '''input: 2 numeros
  process: calcular suma (sumar)
  output: suma'''
  suma=numero_uno+numero_dos
  return suma

def calcular_resta(numero_uno, numero_dos):
  return numero_uno - numero_dos

def calcular_multiplicacion(numero_uno, numero_dos):
  return numero_uno * numero_dos

def calcular_division(numero_uno, numero_dos):
  return numero_uno / numero_dos

def calcular_logaritmo_base10(numero):#x=numero (uno,dos)
  #aquí uso la función logaritmo que está dentro de math
  logaritmo=math.log10(numero)#x=numero
  return logaritmo

def calcular_coseno(angulo_radianes):#x=numero (uno,dos):se debe asociar con un angulo que se toma por defecto en radianes (Si está en grados, debe convertirse  a radianes =angulo*3.1416/180)
  #aqui uso la función coseno que esta dentro de math
  coseno= math.cos(angulo_radianes)#x=numero  (angulo_radianes)
  return coseno

def calcular_tangente(angulo_radianes):#x=numero (uno,dos): se debe asociar con un angulo que se toma por defecto en radines (Si está en grados, debe convertirse a radianes =angulo*3.1416/180)
  #aqui uso la función tangente que esta dentro de math
  tangente= math.tan(angulo_radianes)#x=numero (angulo_radianes)
  return tangente

def calcular_seno(angulo_radianes):#x=numero (uno,dos): se debe asociar con un angulo que se toma por defecto en radianes (Si está en grados, debe convertirse a radianes =angulo*3.1416/180)
  #aqui uso la función seno que esta dentro de math
  seno= math.sin(angulo_radianes)#x=numero (angulo_radianes)
  return seno

def calcular_potenciacion(numero):
  return numero**2

def calcular_raiz_cuadrada(numero):
  return math.sqrt(numero)

def procesar_y_mostrar_operacion(opcion,numero_uno,numero_dos):
  '''input: opcion, numero, numero_dos
  process: procesar y mostrar operacion (analizar las posibilidades para ejecutar la calculadora)
  output: no retorna valor porque por dentro imprime por pantalla todo '''
  if opcion == "1" or opcion == "+" or opcion== "Sumar":
    print("Vamos a sumar (+) los dos valores ingresados:")
    resultado=calcular_suma(numero_uno, numero_dos)
    print("La suma es:", resultado)
  if opcion == "2" or opcion == "-" or opcion== "Restar":
    print("Vamos a restar (-) los dos valores ingresados:\n")
    resultado=calcular_resta(numero_uno, numero_dos)
    print("Resultado:", resultado)
  if opcion == "3" or opcion == "*" or opcion== "Multiplicar":
    print("Vamos a multiplicar (*) los dos valores ingresados:\n")
    resultado=calcular_multiplicacion(numero_uno, numero_dos)
    print("Resultado:", resultado)
  if opcion == "4" or opcion == "/" or opcion== "Dividir":
    print("Vamos a dividir (/) los dos valores ingresados:\n")
    #VALIDANDO EL DENOMINADOR (debe ser diferente de cero)
    if numero_dos!=0:
      resultado=calcular_division(numero_uno, numero_dos)
      print("Resultado:", resultado)
    else:
      print("¡No es posible dividir entre cero!")
  if opcion == "5" or opcion== "log10" or opcion== "logaritmo":
    print("Vamos a calcular el logaritmo (log10) de los dos valores ingresados:\n")
    resultado1=calcular_logaritmo_base10(numero_uno)
    resultado2=calcular_logaritmo_base10(numero_dos)
    print("Resultado1:", resultado1)
    print("Resultado2:", resultado2)
  if opcion == "6" or opcion == "cos" or opcion== "Coseno":
    print("Vamos a calcular el coseno (cos) de los dos valores ingresados:\n")
    resultado1=calcular_coseno(numero_uno)
    resultado2=calcular_coseno(numero_dos)
    print("Resultado1:", resultado1)
    print("Resultado2:", resultado2)
  if opcion == "7" or opcion == "tan" or opcion== "Tangente":
    print("Vamos a calcular la tangente (tan) de los dos valores ingresados:\n")
    resultado1=calcular_tangente(numero_uno)
    resultado2=calcular_tangente(numero_dos)
    print("Resultado1:", resultado1)
    print("Resultado2:", resultado2)
  if opcion == "8" or opcion == "sen" or opcion== "Seno":
    print("Vamos a calcular el seno (sen) de los dos valores ingresados:\n")
    resultado1=calcular_seno(numero_uno)
    resultado2=calcular_seno(numero_dos)
    print("Resultado1:", resultado1)
    print("Resultado2:", resultado2)
  if opcion == "9" or opcion == "potenciacion" or opcion== "potencia":
    print("Vamos a calcular la potenciacion (x^y) de los dos valores ingresados:\n")
    resultado1=calcular_potenciacion(numero_uno)
    resultado2=calcular_potenciacion(numero_dos)
    print("Resultado1:", resultado1)
    print("Resultado2:", resultado2)
  if opcion == "10" or opcion == "raiz" or opcion== "raiz cuadrada":
    print("Vamos a calcular la raiz cuadrada de los dos valores ingresados:\n")
    resultado1=calcular_raiz_cuadrada(numero_uno)
    resultado2=calcular_raiz_cuadrada(numero_dos)
    print("Resultado1:", resultado1)
    print("Resultado2:", resultado2)

def llamar_funciones():
  '''input: no hay entradas
  process: llamar funciones (en orden: mostra_titulo, mostrar_menu, ingresar_datos, procesar_y_mostrar_operacion)
  output: no hay salidas'''

  mostrar_título()
  mostrar_menu()
  opcion, numero_uno, numero_dos=ingresar_datos()
  procesar_y_mostrar_operacion(opcion,numero_uno,numero_dos)

#EJECUCION DEL PROGRAMA:
llamar_funciones()

Ejemplo Calculadora Sencilla (+,-,*,/) por Felipe Escallón:

MENU:
1: Sumar (+)
2: Restar (-)
3: Multiplicar (*)
4: Dividir (/)
5: Logaritmo (log10)
6: Coseno (cos)
7: Tangente (tan)
8: Seno (sen)
9: potenciacion (x^y)
10: raiz cuadrada

#Estructura de Datos

In [ ]:
#lista
lista_frutas= ["manzana", "banana", "cereza", "naranja", "pera"] #lista
lista_animales= ["gato", "perro", "elefante", "tigre", "leon"] #lista
print(lista_frutas)
print(lista_animales, "\n")

#tupla
tupla_verduras= ("zanahoria", "cebolla", "tomate", "lechuga", "pimenton") #tupla
tupla_colores= ("rojo", "azul", "verde", "amarillo", "morado") #tupla
print(tupla_verduras)
print(tupla_colores, "\n")

#conjunto
conjunto_electrodomesticos= {"Televisor", "Computador", "Nevera", "Lavadora", "Cafetera"} #conjunto
conjunto_paises= {"España", "Francia", "Alemania", "Italia", "Reino Unido"} #conjunto
print(conjunto_electrodomesticos)
print(conjunto_paises, "\n")

#diccionario
d1={"mesa":"mueble", "perro":"animal", "rosa":"flor","avion":"transporte"} #diccionario
d2={"lapiz":"util escolar", "feijoa":"fruta", "guitarra":"instrumento","sol":"astro"}#diccionario
print(d1)
print(d2, "\n")

#Operaciones con Conjuntos
conjunto_universal = conjunto_electrodomesticos.union(conjunto_paises)
print(conjunto_universal, "\n")

#union
union = conjunto_electrodomesticos.union(conjunto_paises)
print(union, "\n")

#interseccion
interseccion = conjunto_electrodomesticos.intersection(conjunto_paises)
print(interseccion, "\n")

#diferencia
diferencia = conjunto_electrodomesticos.difference(conjunto_paises)
print(diferencia, "\n")

#diferencia_simetricas
diferencia_simetricas = conjunto_electrodomesticos.symmetric_difference(conjunto_paises)
print(diferencia_simetricas, "\n")

#complemento
complemento_electrodomesticos = conjunto_universal.difference(conjunto_electrodomesticos)
print(complemento_electrodomesticos)
complemento_paises = conjunto_universal.difference(conjunto_paises)
print(complemento_paises, "\n")

['manzana', 'banana', 'cereza', 'naranja', 'pera']
['gato', 'perro', 'elefante', 'tigre', 'leon']

('zanahoria', 'cebolla', 'tomate', 'lechuga', 'pimenton')
('rojo', 'azul', 'verde', 'amarillo', 'morado')

{'Nevera', 'Computador', 'Lavadora', 'Televisor', 'Cafetera'}
{'Francia', 'Reino Unido', 'Italia', 'Alemania', 'España'}

{'mesa': 'mueble', 'perro': 'animal', 'rosa': 'flor', 'avion': 'transporte'}
{'lapiz': 'util escolar', 'feijoa': 'fruta', 'guitarra': 'instrumento', 'sol': 'astro'}

{'Francia', 'España', 'Nevera', 'Computador', 'Lavadora', 'Reino Unido', 'Televisor', 'Alemania', 'Cafetera', 'Italia'}

{'Francia', 'España', 'Nevera', 'Computador', 'Lavadora', 'Reino Unido', 'Televisor', 'Alemania', 'Cafetera', 'Italia'}

set()

{'Nevera', 'Computador', 'Lavadora', 'Televisor', 'Cafetera'}

{'Nevera', 'Lavadora', 'Reino Unido', 'Alemania', 'Francia', 'España', 'Computador', 'Televisor', 'Cafetera', 'Italia'}

{'Francia', 'España', 'Reino Unido', 'Alemania', 'Italia'}
{'Nevera', 'Computador', 'Lavadora', 'Televisor', 'Cafetera'}