In [ ]:
numero =55

In [ ]:
print (numero)

55

In [ ]:
numero = print(round(float(input("ingrese el número: ")),2))

ingrese el número: 25
25.0

In [ ]:
numero = input("ingrese numero: ")

ingrese numero: 55

In [ ]:
numero

'55'

In [ ]:
numero = float(input("ingrese numero: "))

ingrese numero: 26

In [ ]:
numero

26.0

In [ ]:
numero = round(float(input("ingrese numero: ")),2)

ingrese numero: 95.5454

In [ ]:
numero

95.55

In [ ]:
numero = print(round(float(input("ingrese numero: ")),2))

ingrese numero: 86.5454353345
86.55

TIPOS DE VARIABLES

In [ ]:
nombre = "Cristian" #texto /str
primer_apellido = "Pinilla" #texto /str
edad: 34 #numero entero /int
estatura: 1.80   #decimal /float
nombre_completo = nombre + " " + primer_apellido #texto /str
dirección = "Carrera 73" #texto /str
estado_civil= ["soltero", "casado", "unión libre", "otro"] #lista / list
coordenadas_direccion = (22.56, 43.98) #Tupla / tuple

In [ ]:
Persona = {
    "nombre": "Cristian",
    "edad": 34,
    "estatura": "1.80",
    "estado_civil": "soltero"
}

In [ ]:
print(Persona["edad"])

34

In [ ]:
print(type(nombre))
print(type(edad))
print(type(estatura))
print(type(estado_civil))
print(type(coordenadas_direccion))
print(type(Persona))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [ ]:
estado_civil[2] = "Union marital"
print(estado_civil)

['soltero', 'casado', 'Union marital', 'otro']

In [ ]:
print(nombre_completo)

Cristian Pinilla

Manejo de números

In [ ]:
edad = 34
estatura = 1.80

### Tipo númerico

In [ ]:
numero_a = 5
numero_b = 2
division = numero_a / numero_b
print(division)

2.5

Operacion Texto

In [ ]:
nombre = "Cristian"
apellido = "Pinilla"
nombre_completo = nombre + " " + apellido
print(nombre_completo)

Cristian Pinilla

In [ ]:
nombre = "Cristian"
apellido = "Pinilla"
nombre_completo = nombre + " " + apellido
print(nombre_completo)

## Operaciones en las listas

In [ ]:
frutas = ["manzana", "banana", "cereza"]
print(frutas)

['manzana', 'banana', 'cereza']

In [ ]:
frutas.append("naranja")
print(frutas)

['manzana', 'banana', 'cereza', 'naranja']

In [ ]:
frutas.insert(2, "Limón")

In [ ]:
print(frutas)

['manzana', 'banana', 'Limón', 'Limón', 'Limón', 'cereza', 'naranja']

In [ ]:
frutas.remove("Limón")

In [ ]:
print(frutas)

['manzana', 'banana', 'Limón', 'Limón', 'cereza', 'naranja']

In [ ]:
frutas[2:4]

['Limón', 'Limón']

In [ ]:
numeros = [8,5,1]

suma = numeros[0] + numeros[1] + numeros[2]
print(suma)

14

In [ ]:
numeros = [8,5,1]

suma = sum(numeros)
print(suma)

14

## Tipo Diccionarios

In [ ]:
Persona = {
    "nombre": "Cristian",
    "edad": 34,
    "estatura": "1.80",
    "estado_civil": "soltero"
}

In [ ]:
print(Persona["nombre"])

Cristian

In [ ]:
print(Persona.get("nombre"))

Cristian

In [ ]:
alumnos " {
  "alumno1":{"nombre"}